@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-gradient: linear-gradient(
    45deg,
    rgb(136, 58, 234),
    rgb(224, 204, 250) 30%,
    white 60%
  );
}

body {
  background-color: #13151a;
  color: white;
}

.gradient-text {
  background: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hover-gradient {
  position: relative;
  background: #23262d;
  transition: all 0.3s ease;
}

.hover-gradient:hover {
  background: rgb(49, 10, 101);
}

.hover-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--accent-gradient);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.hover-gradient:hover::before {
  opacity: 0.1;
}